# Example Environment Variables

# The port number for the application
PORT=3000

# The URL for the database
DATABASE_URL=postgres://user:password@localhost:5432/mydb

# The environment
NODE_ENV=development